<?php
/**
 *  Copyright 2011 Wordnik, Inc.
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 */

/**
 *
 * NOTE: This class is auto generated by the swagger code generator program. Do not edit the class manually.
 */

/**
 * source code generated by http://restunited.com using Swagger Codegen
 * for any feedback/issue, please send to feedback{at}restunited.com
 *
 * swagger-codegen: https://github.com/wordnik/swagger-codegen
 */

namespace Huxley;
 
class ArrivalsAPI {

	function __construct($apiClient) {
	  $this->apiClient = $apiClient;
	}

  /**
	 * getArrivalsBoard
	 *  
   * accessToken, string: API key or token for authorization (required)

   * id, string: CRS (required)

   * @return ArrivalsBoard
	 */

   public function getArrivalsBoard($accessToken, $id) {

  		//parse inputs
  		$resourcePath = "/arrivals/{id}";
  		$resourcePath = str_replace("{format}", "json", $resourcePath);
  		$method = "GET";
      $queryParams = array();
      $headerParams = array();
      $headerParams['Accept'] = 'application/json';
      $headerParams['Content-Type'] = 'application/x-www-form-urlencoded';

      if($accessToken != null) {
  		  $queryParams['accessToken'] = $this->apiClient->toQueryValue($accessToken);
  		}
  		if($id != null) {
  			$resourcePath = str_replace("{" . "id" . "}",
  			                            $this->apiClient->toPathValue($id), $resourcePath);
  		}
  		//make the API Call
      if (! isset($body)) {
        $body = null;
      }

      //HACK: form parameter
      $has_fields = False;
      $formParameters = array();
      if ($has_fields) {
        $body = http_build_query($formParameters);
      }

  		$response = $this->apiClient->callAPI($resourcePath, $method,
  		                                      $queryParams, $body,
  		                                      $headerParams);


      if(! $response){
          return null;
        }

  		$responseObject = $this->apiClient->deserialize($response,
  		                                                'ArrivalsBoard');
  		return $responseObject;

      }
  

}

